@import constants.sass


*
    padding: 0
    margin: 0
    position: relative

html
    height: 100%


@font-face
    font-family: 'GolosTextVF'
    src: url('../fonts/GolosTextVF.ttf')
    font-weight: normal
    font-style: normal


header.big
    margin: 10px 75px
    height: 615px


footer
    width: 100%
    position: absolute
    bottom: 0   


body
    background-color: white
    font-family: 'GolosTextVF'
    font-weight: normal
    font-variation-settings: "wght" 300
    font-size: 16pt
    min-height: 100%

    
img
    width: 100%


h1
    font-variation-settings: "wght" 650
    font-size: 175pt

h2
    font-variation-settings: "wght" 500
    font-weight: normal
    font-size: 90pt

h3
    font-variation-settings: "wght" 450
    font-weight: normal
    font-size: 105pt

h5
    font-variation-settings: "wght" 300
    font-weight: normal
    font-size: 45pt

h6
    font-variation-settings: "wght" 600
    font-weight: normal
    font-size: 45pt


a,.a
    text-decoration: none
    border-bottom: .08em solid black
    color: black

    &:hover
        color: $hover-color !important
        border-color: $hover-color !important

    &.dashed
        border-bottom: 2px dashed black

    &.implicit
        border: none

        &:hover
            color: black !important

.big
    font-size: 23pt


p 
    margin: 1em 0
    
    &.nomargin
        margin: 0
        margin-bottom: 1em


#main
    margin: 0 75px
    padding-bottom: 100px


#project
    margin: 0 10%
    padding-bottom: 300px
    width: 75%

    min-width: 550px


#background
    z-index: -1
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    overflow: hidden


sspace
    display: block
    height: 10px

mspace
    display: block
    height: 30px

lspace
    display: block
    height: 50px

xspace
    display: block
    height: 100px