$right-gradient: linear-gradient(to right, #c7100c 0%, #b41020 7%, #6e1d53 43%, #3b2678 81%, #3f00be 100%);
$light-grey: #f1f1f1
$grey: #cccbcb
$dark-grey: #464646
$code: #3fbfd8    


.fline
    display: flex

    & .me
        flex: 0 270px

    & .line
        display: flex
        align-items: center
        flex: 1 auto

        & svg
            vertical-align: center


.headerlike div
    display: flex
    align-items: center
    height: 140px
    margin: 30px 30px

    & img
        height: 100%
        width: auto
    
    & .right
        margin: 0 50px 0 auto

    & h6
        margin: 0 50px


.svg
    position: absolute
    z-index: -1


#logo
    top: -40px
    left: -89px

    width: 655px


#oval
    top: 170px
    width: 1100px
    left: 220px

#line
    top: 1300px
    width: 2000px
    left: -100px


#hexagon
    top: 2000px
    width: 800px
    left: 500px


.content-block
    display: flex
    margin-bottom: 30px
    margin-top: 30px

    & .project-logo
        display: flex
        align-items: center
        flex: 0 0 350px

        margin: 0 30px 0 10px
        padding: 35px 50px

.description
    display: flex
    flex-direction: column

    min-width: 450px

    flex: 1 auto
    padding: 35px 50px

    & span.big
        margin-bottom: 20px


.alpha
    background-color: rgba(255, 255, 255, 0.7)


.rounded
    border-radius: 10px


.shadowed
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15)


.mail
    display: flex
    align-items: center
    justify-content: center

    padding: 0 50px
    padding-bottom: 25px
    width: min-content
    margin: 50px 0

    border: 17px solid transparent
    border-image: $right-gradient
    border-image-slice: 1
    
    font-size: 110pt
    font-variation-settings: "wght" 700

.mail-small
    font-size: 60pt
    margin-bottom: 15px
    font-variation-settings: "wght" 750

span.gradient
    background: $right-gradient
    color: transparent
    background-clip: text
    -webkit-background-clip: text


.half
    width: 50%


.halfquarter
    width: 75%

.actionlinks
    display: flex
    flex-direction: row


.actionlink
    border-radius: 10px
    display: inline-block
    width: min-content
    padding: 10px 30px 20px 30px
    margin-right: 20px
    font-size: 25pt
    background-color: $light-grey


.verdicts
    display: block

    & .verdict
        display: inline-block

        font-size: 50pt
        color: $light-grey
        font-variation-settings: "wght" 650
        margin-right: .3em


#verdict-description
    display: block
    min-height: 50px
    margin-top: 10px
    margin-bottom: 20px
    font-variation-settings: "wght" 650


.protocol-block
    display: flex
    flex-direction: column-reverse
    align-items: start


#protocol-code
    border-radius: 15px
    background-color: $dark-grey
    color: $code

    font-family: "PT Mono"
    font-weight: bold

    padding: 35px
    width: 500px
    margin-top: 25px

    overflow: hidden
    height: 250px

    transition: all 100ms

    font-size: 21pt


#protocol-menu
    width: 600px

    & span
        display: inline-block
        white-space: nowrap

        margin-right: 25px
        margin-bottom: 8px
        cursor: pointer

        font-size: 18pt
        color: $grey

        &.active
            color: black
            cursor: default


.label
    font-size: 18pt
    color: $grey


.qladmin-row-row
    display: flex
    justify-content: left
    align-items: center

    & div
        margin-right: 30px


.qladmin-column-row
    display: flex
    justify-content: left
    align-items: flex-start

    & div
        margin-right: 30px


.untitled-weapons
    display: flex
    flex-direction: row
    align-items: top

    & .weapon
        margin-right: 75px

        & img
            margin-bottom: 15px
            height: 250px
            width: auto


.untitled-balls
    display: flex
    flex-direction: row

    width: 85%

    & .ball
        margin-right: 150px

        & img
            margin-bottom: 15px
            height: 250px
            width: auto

            transform: rotate(-90deg)


.untitled-potions
    display: flex
    flex-direction: row
    justify-content: space-between

    & .potion
        & img
            margin-bottom: 15px
            width: 150px

        & p
            text-align: center


.untitled-zombies
    display: flex
    flex-direction: row
    justify-content: space-between

    & .zombie
        &#up,&#down
            text-align: center
        
        &#left
            text-align: right

        & img
            margin-bottom: 15px
            height: 350px
            width: auto


.untitled-men
    display: flex
    flex-direction: row
    justify-content: space-between

    & .man
        text-align: center

        & img
            margin-bottom: 15px
            height: 350px
            width: auto


.untitled-players
    display: flex
    flex-direction: row
    justify-content: start

    & .player
        text-align: center
        margin-right: 150px

        & img
            margin-bottom: 15px
            height: 300px
            width: auto


.untitled-violet-eye
    max-width: 500px