.fline
    display: flex

    & .me
        flex: 0 270px

    & .line
        display: flex
        align-items: center
        flex: 1 auto

        & svg 
            vertical-align: center


.svg
    position: absolute
    z-index: -1


#logo
    top: -40px
    left: -89px

    width: 655px


#oval
    top: 170px
    width: 1100px
    left: 220px

#line
    top: 1300px
    width: 2000px
    left: -100px


#hexagon
    top: 2000px
    width: 800px
    left: 500px


.content-block
    display: flex
    margin-bottom: 30px
    margin-top: 30px

    & .project-logo
        display: flex
        align-items: center
        flex: 0 0 350px

        margin: 0 30px 0 10px
        padding: 35px 50px

    & .description
        display: flex
        flex-direction: column

        flex: 1 auto
        padding: 35px 50px


.alpha
    background-color: rgba(255, 255, 255, 0.7)


.rounded
    border-radius: 10px


.mail
    width: 800px
    margin: 50px 0
