.right-gradient {
  color: linear-gradient(to right, #c7100c 0%, #b41020 7%, #6e1d53 43%, #3b2678 81%, #3f00be 100%); }

.light-grey {
  color: #f1f1f1; }

.grey {
  color: #cccbcb; }

.dark-grey {
  color: #464646; }

.code {
  color: #3fbfd8; }

.hover-color {
  color: #4460ff; }

.light-green {
  color: #23d800; }

* {
  padding: 0;
  margin: 0;
  position: relative; }

html {
  height: 100%; }

@font-face {
  font-family: 'GolosTextVF';
  src: url(/static/fonts/GolosTextVF.ttf);
  font-weight: normal;
  font-style: normal; }

header.big {
  margin: 10px 75px;
  height: 615px; }

footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

body {
  background-color: white;
  font-family: 'GolosTextVF';
  font-weight: normal;
  font-variation-settings: "wght" 300;
  font-size: 16pt;
  min-height: 100%; }

img {
  width: 100%; }

h1 {
  font-variation-settings: "wght" 650;
  font-size: 175pt; }

h2 {
  font-variation-settings: "wght" 500;
  font-weight: normal;
  font-size: 90pt; }

h3 {
  font-variation-settings: "wght" 450;
  font-weight: normal;
  font-size: 105pt; }

h4 {
  font-variation-settings: "wght" 300;
  font-weight: normal;
  font-size: 80pt;
  line-height: 1; }

h5 {
  font-variation-settings: "wght" 300;
  font-weight: normal;
  font-size: 45pt; }

h6 {
  font-variation-settings: "wght" 600;
  font-weight: normal;
  font-size: 45pt; }

a, .a {
  text-decoration: none;
  border-bottom: 0.03em solid rgba(0, 0, 0, 0.3);
  color: black;
  cursor: pointer; }
  a:hover, .a:hover {
    color: #4460ff !important;
    border-color: #4460ff !important; }
  a.dashed, .a.dashed {
    border-bottom: 0.03em dashed rgba(0, 0, 0, 0.3); }
  a.implicit, .a.implicit {
    border: none;
    text-decoration: none; }
    a.implicit:hover, .a.implicit:hover {
      color: black !important; }

span, a, .a {
  padding-top: .3em; }

.big {
  font-size: 23pt; }

.bold {
  font-variation-settings: "wght" 600; }

.hidden {
  display: none; }

.nowrap {
  white-space: nowrap; }

.transparent {
  opacity: 0.3; }

p {
  margin: 1em 0; }
  p.nomargin {
    margin: 0;
    margin-bottom: 1em; }

#main {
  margin: 0 75px;
  padding-bottom: 100px; }

#project {
  margin: 0 10%;
  padding-bottom: 300px;
  width: 75%;
  min-width: 550px; }

#background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

sspace {
  display: block;
  height: 10px; }

mspace {
  display: block;
  height: 30px; }

lspace {
  display: block;
  height: 50px; }

xspace {
  display: block;
  height: 100px; }

.right-gradient {
  color: linear-gradient(to right, #c7100c 0%, #b41020 7%, #6e1d53 43%, #3b2678 81%, #3f00be 100%); }

.light-grey {
  color: #f1f1f1; }

.grey {
  color: #cccbcb; }

.dark-grey {
  color: #464646; }

.code {
  color: #3fbfd8; }

.hover-color {
  color: #4460ff; }

.light-green {
  color: #23d800; }

.verdicts {
  display: flex;
  flex-wrap: wrap; }
  .verdicts .verdict {
    display: inline-block;
    height: 1em;
    font-size: 50pt;
    color: #f1f1f1;
    font-variation-settings: "wght" 650;
    margin-right: .3em; }

#verdict-description {
  display: block;
  min-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-variation-settings: "wght" 650; }

#verdict-wrapper {
  height: 2.5em; }

.protocol-block {
  display: flex;
  flex-direction: column-reverse;
  align-items: start; }

#protocol-code {
  border-radius: 15px;
  background-color: #464646;
  color: #3fbfd8;
  font-family: "PT Mono";
  font-weight: bold;
  padding: 35px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin-top: 25px;
  overflow: hidden;
  height: 340px;
  transition: all 100ms;
  font-size: 21pt; }

#protocol-menu {
  width: 600px; }
  #protocol-menu span {
    display: inline-block;
    white-space: nowrap;
    margin-right: 25px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 18pt;
    color: #cccbcb; }
    #protocol-menu span.active {
      color: black;
      cursor: default; }

.label {
  font-size: 18pt;
  color: #cccbcb; }

.qladmin-row-row {
  display: flex;
  justify-content: left;
  align-items: center; }
  .qladmin-row-row div {
    margin-right: 30px; }

.column-row {
  display: flex;
  justify-content: left;
  align-items: flex-start; }
  .column-row div {
    margin-right: 30px; }

.untitled-weapons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 900px; }
  .untitled-weapons .weapon img {
    margin-bottom: 15px;
    height: 250px;
    width: auto; }

.untitled-balls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px; }
  .untitled-balls .ball img {
    margin-bottom: 15px;
    height: 250px;
    width: auto;
    transform: rotate(-90deg); }

.untitled-potions {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .untitled-potions .potion img {
    margin-bottom: 15px;
    width: 150px; }
  .untitled-potions .potion p {
    text-align: center; }

.untitled-zombies {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .untitled-zombies .zombie#up, .untitled-zombies .zombie#down {
    text-align: center; }
  .untitled-zombies .zombie#left {
    text-align: right; }
  .untitled-zombies .zombie img {
    margin-bottom: 15px;
    height: 350px;
    width: auto; }

.untitled-men {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .untitled-men .man {
    text-align: center; }
    .untitled-men .man img {
      margin-bottom: 15px;
      height: 350px;
      width: auto; }

.untitled-players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px; }
  .untitled-players .player {
    text-align: center;
    margin-right: 10px; }
    .untitled-players .player img {
      margin-bottom: 15px;
      height: 300px;
      width: auto; }

.untitled-violet-eye {
  max-width: 500px; }

.right-gradient {
  color: linear-gradient(to right, #c7100c 0%, #b41020 7%, #6e1d53 43%, #3b2678 81%, #3f00be 100%); }

.light-grey {
  color: #f1f1f1; }

.grey {
  color: #cccbcb; }

.dark-grey {
  color: #464646; }

.code {
  color: #3fbfd8; }

.hover-color {
  color: #4460ff; }

.light-green {
  color: #23d800; }

.fline {
  display: flex;
  align-items: flex-start;
  height: 270px; }
  .fline .me {
    margin-top: 30px;
    flex: 0 170px; }
  .fline .line {
    height: 1em;
    margin-left: 8%;
    margin-top: 4.3em;
    display: flex;
    align-items: center;
    flex: 1 auto; }

.headerlike div {
  display: flex;
  align-items: center;
  height: 140px;
  margin: 30px 30px; }
  .headerlike div .logo-small {
    width: 140px; }
  .headerlike div .right {
    margin: 0 50px 0 auto; }
  .headerlike div h6 {
    margin: 0 50px; }
  .headerlike div #name {
    white-space: nowrap; }

.svg {
  position: absolute;
  z-index: -1; }

#logo {
  top: -40px;
  left: -89px;
  width: 655px; }

#oval {
  top: 785px;
  width: 1100px;
  left: 220px; }

#line {
  top: 1915px;
  width: 2000px;
  left: -100px; }

#hexagon {
  top: 2400px;
  width: 800px;
  left: 600px; }

.content-block {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: stretch; }
  .content-block .project-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 350px;
    margin: 0 50px 0 30px;
    padding: 25px 30px; }
  .content-block .project-description-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; }

.project-description-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  flex: 1 auto;
  padding: 25px 30px; }
  .project-description-wrapper span.big {
    margin-bottom: 20px; }

.alpha {
  background-color: rgba(255, 255, 255, 0.7); }

.rounded {
  border-radius: 10px; }

.shadowed {
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15); }

.station {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 7px; }

.station-alphabet-group {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 100px; }

.list * {
  margin-right: 1em; }

.line-icon {
  width: 1.2em;
  margin-right: .5em;
  padding-bottom: 0.1em; }

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px 10px 50px;
  width: min-content;
  margin: 50px 0;
  border: 17px solid transparent;
  border-image: linear-gradient(to right, #c7100c 0%, #b41020 7%, #6e1d53 43%, #3b2678 81%, #3f00be 100%);
  border-image-slice: 1;
  font-size: 110pt;
  font-variation-settings: "wght" 700; }

.mail-small {
  display: block;
  font-size: 60pt;
  margin-bottom: 10px;
  font-variation-settings: "wght" 750; }

span.gradient {
  background: linear-gradient(to right, #c7100c 0%, #b41020 7%, #6e1d53 43%, #3b2678 81%, #3f00be 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; }

.external-link {
  width: 0.7em;
  margin-left: 15px;
  margin-bottom: -0.05em; }

.new-project {
  display: inline-block;
  color: #23d800;
  font-size: 20pt;
  margin-left: 30px;
  vertical-align: middle;
  font-variation-settings: "wght" 100; }

.half {
  width: 50%; }
  .half.adapted {
    width: 100% !important;
    max-width: 560px; }

.halfquarter {
  width: 75%; }
  .halfquarter.adapted {
    width: 100% !important;
    max-width: 850px; }

.actionlinks {
  width: 100%;
  max-width: 300px;
  justify-content: start;
  display: flex;
  flex-direction: row; }

.actionlink {
  border-radius: 10px;
  display: inline-block;
  width: min-content;
  padding: 0.45em 0.9em 0.55em 0.9em;
  margin-right: 10px;
  font-size: 25pt;
  background-color: #f1f1f1; }

.action-block {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin-right: 100px; }
  .action-block .action-logo {
    width: 20%;
    margin-right: 30px; }
  .action-block .action-description a {
    font-size: 30pt; }

.actions {
  display: flex;
  justify-content: start; }

@media (max-width: 1000px) {
  #main {
    margin: 0 75px; }
  h1 {
    font-size: 300pt; }
  h2 {
    font-size: 130pt;
    margin-top: -50px;
    line-height: 1; }
  h3 {
    font-size: 150pt; }
  header.big {
    height: 1050px; }
  #logo {
    left: -150px;
    top: -100px;
    width: 1100px; }
  .fline {
    height: 500px; }
  .fline .line {
    height: 50px; }
  #protocol-code {
    max-width: none;
    height: 450px;
    font-size: 30pt; }
  #protocol-menu {
    width: 100%; }
    #protocol-menu span {
      font-size: 25pt; }
  header div {
    justify-content: start; }
    header div .right {
      display: none; }
    header div h6 {
      margin: none;
      font-size: 300%; }
  #project {
    margin: 0 5%;
    width: auto; }
  .logo-small {
    width: 40%; }
  .untitled-violet-eye {
    max-width: 100%; }
  .untitled-players {
    max-width: 100%;
    justify-content: space-around; }
    .untitled-players div img {
      height: 500px !important; }
  .big {
    font-size: 35pt; }
  h5.project-title {
    font-size: 75pt;
    margin-bottom: 30px; }
  .new-project {
    font-size: 30pt; }
  .content-block {
    flex-direction: column;
    align-items: start;
    margin-bottom: 170px;
    margin-top: 50px; }
    .content-block .project-logo {
      padding: 50px 50px 50px 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px; }
    .content-block .project-description-wrapper {
      padding: 50px;
      margin-left: -50px; }
  .verdicts .verdict {
    font-size: 80pt !important; }
  #verdict-description {
    font-size: 50pt;
    line-height: 1; }
  #verdict-wrapper {
    height: 350px; }
  .actionlink {
    font-size: 40pt; }
  video {
    width: 100% !important; }
  #oval {
    top: 2000px;
    width: 2200px;
    left: 120px; }
  #line {
    top: 4500px;
    width: 4000px;
    left: -2000px; }
  #hexagon {
    top: 8200px;
    width: 2000px;
    left: 100px; }
  .mail {
    width: 100%;
    padding: 20px 0 10px 0;
    margin-top: -150px; } }

