html
  head
    title=title + " — Адам Арутюнов"

    link(href="./static/css/style.css", rel="stylesheet", type="text/css")
    link(rel="shortcut icon", href="/static/img/favicon.ico", type="image/x-icon")
    
    script(src="/reload/reload.js")
    script(src="/static/bundle.js")
  body
    block content