extends header.pug

block project
  h3
    | Чеккер

  p.big.
    Самое простое, что можно автоматизировать в университетах и
    школах — тесты с вариантами ответа. Удивительно, но до сих пор 
    нет простой встраиваемой платформы, которая позволяет создавать
    задания, объединять их в работы и задавать учащимся.
  p.big.
    Ну и я решил сделать такую, в общем-то! Она называется Чеккер.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/1.png")
  mspace

  p.
    Каждая работа состоит из вопросов, на который нужно ответить
    одним из трёх способов — ввести вручную, выбрать один или
    несколько вариантов ответов. Тип ответа устанавливает
    преподаватель.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/2.png")
  mspace

  p.
    Отправленная работа проверяется автоматически. Результат в баллах
    пользователь видит сразу, а полный разбор по заданиям — после
    общего конца работы для всех, срок которого задаёт преподаватель.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/3.png")
  mspace

  p.
    Преподаватель видит таблицу, в которой для каждого отправленного
    решения видно общее количество баллов и правильные ответы по
    заданиям. Это позволяет строить стратегию обучения, основываясь
    на реальных результатах.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/4.png")
  mspace


  p.
    Сейчас Чеккер находится в стадии альфа-тестирования.

  sspace


  div.actionlink
    a(href="http://chekker.cdarr.ru")
      | chekker.cdarr.ru

