extends header.pug

block project
  h3
    | Чеккер

  p.big.nomargin.
    Самое простое, что можно автоматизировать в школах и университетах — тесты с вариантами ответа. До сих пор 
    нет простой платформы с низким порогом входа, которая позволяет преподавателям создавать
    задания, объединять их в работы, задавать учащимся и анализировать результаты.
  p.big.
    Ну и я сделал такую, в общем-то. Она называется Чеккер.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/1.png")
  mspace

  p.
    Каждая работа состоит из вопросов, на которые нужно ответить
    одним из трёх способов — ввести вручную, выбрать один или
    несколько ответов из вариантов. Тип ответа на каждый вопрос устанавливает
    преподаватель.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/2.png")
  mspace

  p.
    Отправленная работа проверяется автоматически. Пользователь сразу видит количество правильно
    решённых заданий. После того, как работа закончится для всех, учащийся увидит правильные ответы
    на все вопросы и сможет сравнить их со своими.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/3.png")
  mspace

  p.
    Преподаватель видит таблицу, в которой для каждого отправленного
    решения видно общее количество баллов и правильные ответы по
    заданиям. Это наглядно: на основе этих результатов можно корректировать
    процесс обучения, обращая внимание на задания с низкой долей правильных решений.

  mspace
  img.rounded.shadowed(src="/static/img/chekker/4.png")
  mspace


  p.
    Сейчас Чеккер находится в стадии альфа-тестирования.

  sspace


  div.actionlink
    a(href="http://chekker.cdarr.ru")
      | chekker.cdarr.ru

