extends base.pug

mixin headerlike(name)
  div
    a.implicit(href="/")
      img.logo-small(src="/static/svg/circle.svg")
    h6#name
      =name

block content
  header.headerlike
    +headerlike("Адам Арутюнов")

  div#project
    block project

  footer.headerlike
    +headerlike

