extends base.pug

mixin content-block(logo_url, title, url, description)
  div.content-block
    div.project-logo.alpha.rounded
      img(src=logo_url)
    div.description.alpha.rounded
      h5
        a(href=url)
          =title

      sspace
      sspace

      span.big
        =description

block content
  header.big
    div.svg#logo
      img(src="/static/svg/circle.svg")
    div.fline
      div.me
        h1
          | Я
      div.line
        svg(width="100%" height="35")
          rect(fill="#000" width="100%" height="100%")
    h2
      | Адам Арутюнов

  mspace

  div#main
    div.svg#oval
      img(src="/static/svg/oval.svg")
    div.svg#line
      img(src="/static/svg/line.svg")
    div.svg#hexagon
      img(src="/static/svg/hexagon.svg")

    span.big
      | Пишу код и текст. Живу в Ростове-на-Дону. 
      a.dashed(href="#contact")
        |Написать

    
    #code
  
    +content-block("/static/img/pycon/logo.png", "Пáйкон", "/pycon", "Тестирующая система для проведения работ и контестов по алгоритмическому программированию. Финальный проект Яндекс.Лицея. Прошёл тестирование на реальных студентах.")
    +content-block("/static/img/chekker/logo.png", "Чеккер", "/chekker", "Платформа для проверки знаний с помощью тестов. Автоматизирует учебный процесс в тысячу раз, масштабируется бесконечно. Проходит альфа-тестирование.")
    +content-block("/static/img/chatile/logo.png", "Chatile", "/chatile", "Консольный чат на чистых сокетах. Нужен для удобного корпоративного общения админов без использования графического интерфейса. Разработан на DevHack 2020.")
    +content-block("/static/img/untitled/logo.png", "Untitled", "/untitled", "Самая каноничная РПГ, которую можно себе представить. Характеристики, оружие, магия (и фаерболы, да), эффекты, заклинания, мобы и боссы. Проект Яндекс.Лицея.")
    +content-block("/static/img/qladmin/logo.png", "QLAdmin", "qladmin", "Админка для базы данных SQLite3 на Python и Qt. Использует только базовые функции, поэтому у неё простой интерфейс и низкий порог входа. Проект Яндекс.Лицея.")

    #text

    +content-block("/static/img/wspectator.png", "Нет, я не псих", "https://t.me/wspectator", "Канал, где я думаю текстом уже два с половиной года. Изначально был про ненависть и рейдж, а потом оказалось, что я, наоборот, всё обожаю. Пишу редко.")
    +content-block("/static/img/onedreaming.png", "Сны", "https://t.me/onedreaming", "За полтора года мне приснился сто семьдесят один сон. Я кратко записывал каждый в заметки. Теперь, чтобы не забыть всё, я решил переписать часть из них более подробно. Пишу часто.")

    lspace
    #contact

    div.mail
      a.implicit(href="mailto:a@cdarr.ru")
        span.gradient
          | a@cdarr.ru

    span.big
      | И ещё: 
      a(href="https://github.com/AdamArutyunov")
        | Гитхаб
      |, 
      a(href="https://twitter.com/adam_arutyunov")
        | Твиттер
      |, 
      a(href="https://www.instagram.com/cdarrrr/")
        | Инстаграм
      |, 
      a(href="https://t.me/adam_arutyunov")
        | Телеграм