mixin action-telegram
    div.action-block
        div.action-logo.rounded
            a.implicit(href='tg://resolve?domain=wspectator')
                img(src='/static/img/wspectator.png')
        div.action-description
            span
                | Чтобы читать мысли,<br>подпишитесь на канал
            br
            a(href='tg://resolve?domain=wspectator')
                | Нет, я не псих


mixin action-project(slug)
    - var project = projects.code.find(p => p.url === slug)
    div.action-block
        div.action-logo
            a.implicit(href='/' + project.url)
                img(src=project.logo_url)
        div.action-description
            span
                | Дальше:
            br
            a(href='/' + project.url)
                =project.title
