extends header.pug

include mixins.pug

block project
  h3
    | QLAdmin

  p.big.nomargin.
    У большинства приложений для управления базами данных есть проблема — разработчики делают их
    максимально универсальными, и поэтому интерфейс перегружается
    большим количеством продвинутых функций, которые практически никогда не
    используются. Пользоваться такими приложениями неудобно.
  p.big.
    QLAdmin — простой утилита для администрирования баз данных SQLite3 с базовыми
    инструментами для работы с таблицами.

  mspace
  img.halfquarter.adapted.rounded.shadowed(src="/static/img/qladmin/1.png")
  mspace

  p.
    Сразу после запуска можно загрузить базу данных или создать новую. В основном окне
    есть девять функций: коммит (сохранение базы данных), создание,
    редактирование, переименование, удаление и очистка таблиц,
    индексация первичных ключей, управление полями таблицы и
    выполнение пользовательского SQL-запроса.

  mspace
  img.halfquarter.adapted.rounded.shadowed(src="/static/img/qladmin/2.png")
  mspace

  p.
    Открытую таблицу можно изменять, как будто это экселевский
    файл. Если изменение возможно, клетка окрашивается в жёлтый, если
    произошла ошибка (несоответствие типов, нарушение уникальности
    поля) — в красный, если значение изменено на стандартное — в серый.

  mspace
  img.halfquarter.adapted.rounded.shadowed(src="/static/img/qladmin/3.png")
  mspace

  p.
    Чтобы добавить строку, надо заполнить все обязательные поля,
    а остальные можно оставить пустыми — в них запишутся
    стандартные значения поля.

  mspace

  div.qladmin-row-row
    div
      img.rounded.shadowed(src="/static/img/qladmin/4.png")
    div
      img.rounded.shadowed(src="/static/img/qladmin/5.png")
    
  mspace

  p.
    Менеджер полей позволяет добавлять поля. В QLAdmin реализовано редактирование и удаление полей, 
    но это возможно только на других системах управления базами данных — сама SQLite3 не поддерживает изменение столбцов.

  mspace

  div.column-row
    div
      img.rounded.shadowed(src="/static/img/qladmin/6.png")
    div
      img.rounded.shadowed(src="/static/img/qladmin/7.png")

  mspace

  p.
    В меню коммитов отображаются все изменения, которые можно подтвердить и записать в базу данных или откатить назад.

  mspace

  
  img.half.adapted.rounded.shadowed(src="/static/img/qladmin/8.png")
  
  xspace

  .actions
    +action-telegram
    +action-project(next_project)

