extends header.pug

include mixins.pug

block project
	h3
		| Магазин
	
	p.big.
		Здесь будет магазин. И я уже придумал название.
		Но вам не скажу. 
		А что продавать — ещё не придумал.
		Но это не очень важно.

	p.big.
		Но магазин же. Значит, должна быть большая кнопка «Купить». Вот она:

	mspace

	a.implicit(href='/')
		.buy-button
			| Купить
