extends header.pug

block project
  h3
    | Untitled

  p.big.nomargin.
    Untitled — самая каноничная 2D RPG, которую можно вообще себе представить. Существуют <i>характеристики</i> — сила, скорость
    и интеллект, <i>атрибуты</i> — здоровье и запас магии, и <i>эффекты</i>, которые меняют атрибуты и характеристики. Конечно, есть
    предметы, заклинания и мобы.
  p.big.
    Есть даже главный босс, а что после него...

  mspace
  video.halfquarter.rounded.shadowed(src="/static/img/untitled/walkthrough.mp4", autoplay, loop, muted)
  lspace

  p.
    В Untitled есть оружие:

  mspace

  div.untitled-weapons
    div.weapon#short-sword
      img(src="/static/img/untitled/short_sword.png")
      p.label
       | Короткий меч
    div.weapon#long-sword
      img(src="/static/img/untitled/long_sword.png")
      p.label
       | Длинный меч
    div.weapon#hard-sword
      img(src="/static/img/untitled/hard_sword.png")
      p.label
       | Стальной меч

  lspace

  p.
    Магические шары:

  mspace

  div.untitled-balls
    div.ball
      img#fireball(src="/static/img/untitled/fireball.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Огненный шар
    div.ball
      img#frozenball(src="/static/img/untitled/frozenball.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Ледяной шар
    div.ball
      img#magicball(src="/static/img/untitled/magicball.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Магический шар

  lspace

  p.
    Зелья:

  mspace

  div.untitled-potions
    div.potion
      img#health-up-potion(src="/static/img/untitled/health-up-potion.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Здоровье
    div.potion
      img#intelligence-up-potion(src="/static/img/untitled/intelligence-up-potion.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Интеллект
    div.potion
      img#magic-up-potion(src="/static/img/untitled/magic-up-potion.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Магия
    div.potion
      img#speed-up-potion(src="/static/img/untitled/speed-up-potion.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Скорость
    div.potion
      img#strength-up-potion(src="/static/img/untitled/strength-up-potion.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Сила

  lspace

  p.
    Зомбаки:

  mspace

  div.untitled-zombies
    div.zombie
      img#zombie-down(src="/static/img/untitled/zombie-down.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Зомбак №1
    div.zombie
      img#zombie-right(src="/static/img/untitled/zombie-right.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Зомбак №2
    div.zombie
      img#zombie-up(src="/static/img/untitled/zombie-up.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Зомбак №3
    div.zombie
      img#zombie-left(src="/static/img/untitled/zombie-left.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Зомбак №4
 
  lspace

  p.
    Горящие и искажённые чуваки:

  mspace

  div.untitled-men
    div.man
      img#burning-man(src="/static/img/untitled/burning-man.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Горящий чувак
    div.man
      img#burning-man-dark(src="/static/img/untitled/burning-man-dark.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Тёмный горящий<br>чувак
    div.man
      img#distorted-man(src="/static/img/untitled/distorted-man.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Искажённый чувак
    div.man
      img#grey-distorted-man(src="/static/img/untitled/grey-distorted-man.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Серый искажённый<br>чувак

  lspace

  p.
    Главный и пасхальный персонажи:

  mspace

  div.untitled-players
    div.player
      img#player-down(src="/static/img/untitled/player-down.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Протагонист
    div.player
      img#sola-down(src="/static/img/untitled/sola-down.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")
      p.label
       | Сола

  lspace

  p.
    Главный босс:

  mspace

  div.untitled-violet-eye
    img#violet-eye(src="/static/img/untitled/violet-eye.png", onmouseover="window.animate(this)", onmouseout="window.stop_animation(this)")

  lspace

  p.
    Можно посмотреть и поиграть.

  sspace

  div.actionlinks
    div.actionlink
      a(href="/static/img/untitled/UntitledWalkthrough.mp4")
        | Прохождение
    div.actionlink
      a(href="https://github.com/AdamArutyunov/UntitledGame")
        | Гитхаб

